.greeting{
    color: seagreen;
}

.blog{
            background-color: ivory;
            border: 5px solid blue;
            border-radius: 10px;
        }
.author-name{
            color: steelblue;
        }
    
