/* body tag; get style for full body  */
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.greeting {
  color: seagreen;
}

.blog-section {
  width: 80%;
  margin: 0 auto;
}

/* style for blog */
.blog {
  background-color: ivory;
  border: 5px solid blue;
  border-radius: 10px;
  margin-bottom: 20px;
}

.author-name {
  color: steelblue;
}

.author-name:hover {
  color: blue;
  font-size: large;
  font-weight: bold;
}

.blog h3:hover {
  color: blue;
  font-size: 25px;
  font-weight: bold;
}